<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Food Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/stylesheets/styles.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <aside id="leftside"></aside>
        <aside id="rightside"></aside>
        <div id="container">
            <header><foodblogtitle></foodblogtitle><navbar></navbar></header>

            <main>
            
                <aside id="photos">
                    <chickenchilliimg></chickenchilliimg>
                </aside>
                <commentstitle></commentstitle>
                
                <section id="blogposts">
                
                    <div class="post">
                        <img v-bind:src='post1.src' alt="Brianna placeholder" v-on:click="showDesc">
                        <span class="author">{{ post1.author }}</span> — 
                        <span class="date">{{ post1.date }}</span>
                        <span class="reply">{{ post1.reply }}</span>
                        <p class="mt-3">
                            {{ post1.comment }}
                        </p>
                    </div>

                    <div class="post">
                        <img v-bind:src='post2.src' alt="Linh placeholder" v-on:click="showDesc">
                        <span class="author">{{ post2.author }}</span> — 
                        <span class="date">{{ post2.date }}</span>
                        <span class="reply">{{ post2.reply }}</span>
                        <p class="mt-3">
                            {{ post2.comment }}
                        </p>
                    </div>

                    <div class="post">
                        <img v-bind:src='post3.src' alt="Catherine placeholder" v-on:click="showDesc">
                        <span class="author">{{ post3.author }}</span> — 
                        <span class="date">{{ post3.date }}</span>
                        <span class="reply">{{ post3.reply }}</span>
                        <p class="mt-3">
                            {{ post3.comment }}
                        </p>
                    </div>

                    <div class="post">
                        <img v-bind:src='post4.src' alt="Kali placeholder" v-on:click="showDesc">
                        <span class="author">{{ post4.author }}</span> — 
                        <span class="date">{{ post4.date }}</span>
                        <span class="reply">{{ post4.reply }}</span>
                        <p class="mt-3">
                            {{ post4.comment }}
                        </p>
                    </div>  

                </section>
                
                <div v-if="show" id="userDescBox">
                    <!-- Modal content -->
                    <div class="modal-info">
                        <span class="close-btn" v-on:click="closeModal">&times;</span>
                        <h1>{{ userInfo.name }}</h1>
                        <p><span>Foodie Level: </span>{{ userInfo.level }}</p>
                        <p><span>Bio:</span><br>{{ userInfo.bio }}</p>
                        <button v-on:click="closeModal">Close</button>
                    </div>
                </div>

            </main>

            <footer>
                &copy; Copyright FOOD BLOG
            </footer>
        
        </div>
        
        <!-- External js  -->
        <script src="../public/javascripts/vue.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>